@import '../../../../styles/mixins.scss';

.row {
  background: linear-gradient(to top, transparent, transparent 16px, var(--color-black-12) 16px, var(--color-black-12) 17px, transparent 17px);
}

.heading {
  @include text-overline;

  box-sizing: content-box;
  color: var(--color-gray-60);
  height: 16px;
  padding: 4px 0 20px;
}
