@import '../../styles/mixins.scss';

.separator {
  background-color: var(--color-black-12);
  height: 1px;
  transition: var(--transition-speed) var(--transition-timing);
  width: 100%;
}

.microOffset {
  margin: 4px 0;

  @include media-size(small-desktop) {
    margin: 8px 0;
  }
}

.smallOffset {
  margin: 12px 0;

  @include media-size(small-desktop) {
    margin: 24px 0;
  }
}

.mediumOffset {
  margin: 24px 0;

  @include media-size(small-desktop) {
    margin: 48px 0;
  }
}

.shrinked {
  height: 0;
  margin: 0;
}
