@import '../../../styles/mixins.scss';

.item {
  position: relative;
}

.link {
  @include text-subtitle-2;

  align-items: flex-end;
  border: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: flex-start;
  padding: 14px 22px;
  stroke: var(--color-gray-100);
  text-decoration: none;
  transition: var(--transition-speed) var(--transition-timing);
}

.item.current:focus-within::before,
.item::before {
  position: absolute;
  background-color: transparent;
  content: '';
  height: 0;
  left: 0;
  top: 50%;
  transition: inherit;
  width: 0;
}

.item.current::before {
  background-color: var(--color-primary-60);
  height: 100%;
  top: 0;
  width: 2px;
}

.current .link {
  // border-left: 2px solid var(--color-primary-60);
  color: var(--color-primary-60);
  stroke: var(--color-primary-60);
}

.item:hover .link {
  background-color: var(--color-black-12);
}

.item:focus-within .link {
  border: 2px solid var(--color-black-100);
}
