{
  "extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines"],
  "rules": {
    "selector-class-pattern": null,
    "color-hex-case": "upper",
    "declaration-no-important": true,
    "indentation": [
      2,
      {
        "ignore": ["inside-parens"]
      }
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
