{
  "extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines"],
  "rules": {
    "selector-class-pattern": null,
    "color-hex-case": "upper",
    "declaration-no-important": true,
    "indentation": [
      2,
      {
        "ignore": ["inside-parens"]
      }
    ],
    "at-rule-no-unknown": null,
    "property-no-vendor-prefix": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "scss/at-rule-no-unknown": true,
    "scss/at-import-partial-extension-blacklist": "disabled",
    "scss/selector-no-redundant-nesting-selector": null
  }
}
