@import '../../../../styles/mixins.scss';

.paginationWrapper {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: space-between;
  margin-left: auto;
}

.inputContainer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.input {
  width: 96px;
}

.btnWrapper {
  display: flex;
  gap: 4px;
}

.text {
  @include text-caption;

  flex-grow: 0;
  flex-shrink: 0;
}

.caption {
  min-width: 80px;
  text-align: center;
}
