@import '../../../../styles/mixins.scss';

.input {
  @include text-subtitle-2;

  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: var(--input-text-color);
  min-height: 96px;
  outline: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  resize: vertical;
  width: 100%;
}

.input::placeholder {
  color: var(--input-secondary-color);
}
