@import '../../styles/mixins.scss';

.btn {
  @include btn-style-reset;

  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  transition: var(--animation-speed) var(--animation-timing);
}

.mediumSize {
  border-radius: 12px;
  padding: 10px 14px;
}

.smallSize {
  border-radius: 8px;
  padding: 4px 6px;
}

.btnIconOnly.mediumSize,
.btnLoading.mediumSize {
  padding: 10px;
}

.btnIconOnly.smallSize,
.btnLoading.smallSize {
  padding: 4px;
}

.iconWrapper {
  display: grid;
  flex-shrink: 0;
  height: 24px;
  order: 1;
  overflow: hidden;
  place-items: center;
  width: 24px;
}

.text {
  @include text-button;

  order: 2;
  user-select: none;
}

.btnIconLeft .iconWrapper {
  margin: 0 8px 0 0;
  order: 1;
}

.btnIconRight .iconWrapper {
  margin: 0 0 0 8px;
  order: 3;
}

.btnLoading.btnIconLeft .iconWrapper,
.btnLoading.btnIconRight .iconWrapper {
  margin: 0;
}

.btn.btnLoading,
.btn.btnDisabled {
  cursor: default;
}

.onLightThemeHighImpact {
  background-color: var(--color-primary-80);

  &:focus {
    background-color: var(--color-primary-80);
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-primary-70);
  }

  & .text {
    color: var(--color-primary-10);
  }

  & .iconWrapper {
    color: var(--color-primary-10);
  }

  &:active {
    background-color: var(--color-primary-80);
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-white-48);
  }

  &:active .iconWrapper {
    color: var(--color-white-48);
  }

  &.btnLoading {
    background-color: var(--color-primary-80);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background-color: var(--color-gray-20);
  }

  &.btnDisabled .text {
    color: var(--color-gray-70);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-gray-70);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-white-48);
  }
}

.onLightThemeMediumImpact {
  background-color: var(--color-primary-20);

  &:focus {
    background-color: var(--color-primary-20);
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-primary-30);
  }

  & .text {
    color: var(--color-primary-80);
  }

  & .iconWrapper {
    color: var(--color-primary-80);
  }

  &:active {
    background-color: var(--color-primary-20);
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-black-56);
  }

  &:active .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnLoading {
    background-color: var(--color-primary-20);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background-color: var(--color-gray-20);
  }

  &.btnDisabled .text {
    color: var(--color-black-56);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-black-56);
  }
}

.onLightThemeLowImpact {
  background: none;
  border: 2px solid var(--color-black-12);

  &:focus {
    background: none;
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-black-12);
  }

  & .text {
    color: var(--color-gray-100);
  }

  & .iconWrapper {
    color: var(--color-gray-100);
  }

  &:active {
    background-color: none;
    border: 2px solid --color-black-12;
  }

  &:active .text {
    color: var(--color-black-56);
  }

  &:active .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnLoading {
    background: none;
    border: 2px solid var(--color-black-12);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background: none;
    border: 2px solid var(--color-black-12);
  }

  &.btnDisabled .text {
    color: var(--color-black-56);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-black-56);
  }

  &.fill.btnLoading .iconWrapper {
    color: var(--color-black-56);
  }
}

.onLightThemeNoneImpact {
  background: none;

  &:focus {
    background: none;
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-black-12);
  }

  & .text {
    color: var(--color-gray-100);
  }

  & .iconWrapper {
    color: var(--color-gray-100);
  }

  &:active {
    background-color: none;
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-black-56);
  }

  &:active .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus,
  &.btnLoading,
  &.btnLoading:hover,
  &.btnLoading:focus {
    background: none;
    border: 2px solid transparent;
  }

  &.btnDisabled .text {
    color: var(--color-black-56);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-black-56);
  }
}

.onLightThemeDestructiveImpact {
  background-color: var(--color-attention);

  &:focus {
    background-color: var(--color-attention);
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-attention-substrate);
  }

  & .text {
    color: var(--color-attention-substrate);
  }

  & .iconWrapper {
    color: var(--color-attention-substrate);
  }

  &:hover:not(.btnDisabled):not(.btnLoading) .text {
    color: var(--color-attention);
  }

  &:hover:not(.btnDisabled):not(.btnLoading) .iconWrapper {
    color: var(--color-attention);
  }

  &:active {
    background-color: var(--color-primary-80);
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-white-48);
  }

  &:active .iconWrapper {
    color: var(--color-white-48);
  }

  &.btnLoading {
    background-color: var(--color-attention);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background-color: 2px solid var(--color-gray-20);
    border: 2px solid transparent;
  }

  &.btnDisabled .text {
    color: var(--color-gray-70);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-gray-70);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-black-56);
  }
}

.onDarkThemeHighImpact {
  background-color: var(--color-accent-30);

  &:focus {
    background-color: var(--color-accent-30);
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-accent-40);
  }

  & .text {
    color: var(--color-accent-90);
  }

  & .iconWrapper {
    color: var(--color-accent-90);
  }

  &:active {
    background-color: var(--color-primary-20);
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-black-56);
  }

  &:active .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnLoading {
    background-color: var(--color-accent-30);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background-color: var(--color-gray-30);
  }

  &.btnDisabled .text {
    color: var(--color-gray-70);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-gray-70);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-black-56);
  }
}

.onDarkThemeMediumImpact {
  background-color: var(--color-accent-80);

  &:focus {
    background-color: var(--color-accent-80);
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-accent-70);
  }

  & .text {
    color: var(--color-accent-10);
  }

  & .iconWrapper {
    color: var(--color-accent-10);
  }

  &:active {
    background-color: var(--color-primary-80);
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-white-48);
  }

  &:active .iconWrapper {
    color: var(--color-white-48);
  }

  &.btnLoading {
    background-color: var(--color-accent-80);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background-color: var(--color-gray-30);
  }

  &.btnDisabled .text {
    color: var(--color-gray-70);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-gray-70);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-white-48);
  }
}

.onDarkThemeLowImpact {
  background: none;
  border: 2px solid var(--color-white-16);

  &:focus {
    background: none;
    border: 2px solid var(--color-white-100);
  }

  &:hover {
    background-color: var(--color-white-16);
  }

  & .text {
    color: var(--color-white-100);
  }

  & .iconWrapper {
    color: var(--color-white-100);
  }

  &:active {
    background-color: none;
    border: 2px solid var(--color-black-12);
  }

  &:active .text {
    color: var(--color-black-56);
  }

  &:active .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnLoading {
    background: none;
    border: 2px solid var(--color-white-16);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background: none;
    border: 2px solid var(--color-white-16);
  }

  &.btnDisabled .text {
    color: var(--color-white-48);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-white-48);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-white-48);
  }
}

.onDarkThemeNoneImpact {
  background: none;

  &:focus {
    background: none;
    border: 2px solid var(--color-white-100);
  }

  &:hover {
    background-color: var(--color-white-16);
  }

  & .text {
    color: var(--color-white-100);
  }

  & .iconWrapper {
    color: var(--color-white-100);
  }

  &:active {
    background-color: none;
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-black-56);
  }

  &:active .iconWrapper {
    color: var(--color-black-56);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus,
  &.btnLoading,
  &.btnLoading:hover,
  &.btnLoading:focus {
    background: none;
    border: 2px solid transparent;
  }

  &.btnDisabled .text {
    color: var(--color-white-48);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-white-48);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-white-48);
  }
}

.onDarkThemeDestructiveImpact {
  background-color: var(--color-attention-substrate);

  &:focus {
    background-color: var(--color-attention-substrate);
    border: 2px solid var(--color-black-100);
  }

  &:hover {
    background-color: var(--color-attention);
  }

  & .text {
    color: var(--color-attention);
  }

  & .iconWrapper {
    color: var(--color-attention);
  }

  &:hover:not(.btnDisabled):not(.btnLoading) .text {
    color: var(--color-attention-substrate);
  }

  &:hover:not(.btnDisabled):not(.btnLoading) .iconWrapper {
    color: var(--color-attention-substrate);
  }

  &:active {
    background-color: var(--color-primary-80);
    border: 2px solid transparent;
  }

  &:active .text {
    color: var(--color-white-48);
  }

  &:active .iconWrapper {
    color: var(--color-white-48);
  }

  &.btnLoading {
    background-color: var(--color-attention-substrate);
  }

  &.btnDisabled,
  &.btnDisabled:hover,
  &.btnDisabled:focus {
    background-color: var(--color-gray-30);
    border: 2px solid transparent;
  }

  &.btnDisabled .text {
    color: var(--color-gray-70);
  }

  &.btnDisabled .iconWrapper {
    color: var(--color-gray-70);
  }

  &.btnLoading .iconWrapper {
    color: var(--color-black-56);
  }
}
