.wrapper {
  border: 2px solid var(--color-black-12);
  border-radius: 8px;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 6px;
  position: relative;
  width: 100%;
}

.resizableContainer {
  height: var(--editor-height);
  min-height: 100px;
  overflow: hidden;
  padding: 4px;
  resize: vertical;
}

.scrollableContainer {
  height: 100%;
  overflow-y: scroll;
}

.editorLayout {
  display: grid;
  gap: 8px;
  grid-template-columns: 44px 1fr;
  margin-right: 8px;
}

.label {
  margin: 4px;
}
