@import '../../styles/mixins.scss';

.btn {
  @include btn-style-reset;

  border-radius: 50%;
  box-shadow: var(--elevation-bottom-4);
  cursor: pointer;
  display: grid;
  height: 56px;
  place-items: center;
  position: relative;
  transition: var(--transition-speed) var(--transition-timing);
  width: 56px;
}

.btn.small {
  height: 48px;
  width: 48px;
}

.highImpact.btn {
  background-color: var(--color-primary-80);
  color: var(--color-primary-10);

  &:hover {
    background-color: var(--color-primary-70);
  }

  &:focus {
    box-shadow: var(--outline-black-100-2px);
  }

  &:active,
  &.loading,
  &.loading:hover,
  &.loading:focus,
  &.loading:active {
    background-color: var(--color-primary-80);
    box-shadow: var(--outline-transparent-2px);
    color: var(--color-white-48);
  }
}

.mediumImpact.btn {
  background-color: var(--color-primary-20);
  color: var(--color-primary-80);

  &:hover {
    background-color: var(--color-primary-30);
  }

  &:focus {
    box-shadow: var(--outline-black-100-2px);
  }

  &:active,
  &.loading,
  &.loading:hover,
  &.loading:focus,
  &.loading:active {
    background-color: var(--color-primary-20);
    box-shadow: var(--outline-transparent-2px);
    color: var(--color-black-56);
  }
}

.lowImpact.btn {
  background-color: var(--color-white-100);
  color: var(--color-gray-100);

  &:hover {
    color: var(--color-primary-80);
  }

  &:focus {
    box-shadow: var(--outline-black-100-2px);
  }

  &:active,
  &.loading,
  &.loading:hover,
  &.loading:focus,
  &.loading:active {
    box-shadow: var(--outline-transparent-2px);
    color: var(--color-black-56);
  }
}
