// css variables comes from the parent component

.box {
  background-color: var(--toggle-background-color);
  border: var(--toggle-border);
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
  height: 24px;
  place-items: center;
  transition: var(--transition-speed) var(--transition-timing);
  width: 24px;
}

.box .icon {
  stroke: var(--toggle-icon-color);
  transition: var(--transition-speed) var(--transition-timing);
}
