// css variables comes from the parent component
@import '../../../../styles/mixins.scss';

.btn {
  @include btn-style-reset;

  cursor: pointer;
  display: grid;
  flex-grow: 0;
  flex-shrink: 0;
  height: 32px;
  overflow: hidden;
  place-items: center;
  width: 32px;
}

.icon {
  stroke: var(--input-secondary-color);
}

.btn:disabled {
  cursor: default;
}
