:root {
  // colour variables
  --black-12: rgba(0, 0, 0, 0.12);
  --black-32: rgba(0, 0, 0, 0.32);
  --black-56: rgba(0, 0, 0, 0.56);
  --black-100: #000;
  --white-16: rgba(1, 1, 1, 0.16);
  --white-28: rgba(1, 1, 1, 0.28);
  --white-48: rgba(1, 1, 1, 0.48);
  --white-100: #FFF;
  --gray-10: #F2F4F8;
  --gray-20: #DDE1E6;
  --gray-30: #C1C7CD;
  --gray-40: #A2A9B0;
  --gray-50: #878D96;
  --gray-60: #697077;
  --gray-70: #4D5358;
  --gray-80: #343A3F;
  --grey-90: #21272A;
  --grey-100: #121619;
  --primary-10: #F6F2FF;
  --primary-20: #E8DAFF;
  --primary-30: #D4BBFF;
  --primary-40: #BE95FF;
  --primary-50: #A56EFF;
  --primary-60: #8A3FFC;
  --primary-70: #6929C4;
  --primary-80: #491D8B;
  --primary-90: #31135E;
  --primary-100: #1C0F30;
  --secondary-10: #E5F6FF;
  --secondary-20: #BAE6FF;
  --secondary-30: #82CFFF;
  --secondary-40: #33B1FF;
  --secondary-50: #1192E8;
  --secondary-60: #0072C3;
  --secondary-70: #00539A;
  --secondary-80: #003A6D;
  --secondary-90: #012749;
  --secondary-100: #061727;
  --accent-10: #E0FAEE;
  --accent-20: #ABEECD;
  --accent-30: #5CDD9E;
  --accent-40: #28C177;
  --accent-50: #21A063;
  --accent-60: #1B7F4E;
  --accent-70: #155F3B;
  --accent-80: #0E4227;
  --accent-90: #072C1B;
  --accent-100: #071910;
  --link: #0F62FE;
  --online: #42BE65;
  --attention: #CE2670;
  --attention-substrate: #FFF0F7;
  --overlay: rgba(0, 0, 0, 0.28);
  --no-data: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.1) 10px, rgba(0, 0, 0, 0.1) 20px);
  // shadows variables
  --elevation-top-1: drop-shadow(0 2.66px 4px rgba(0, 0, 0, 0.06)), drop-shadow(0 1.33px 2px rgba(0, 0, 0, 0.08)), drop-shadow(0 0.66px 1px rgba(0, 0, 0, 0.01));
  --elevation-top-2: drop-shadow(0 2px 3px -1px rgba(0, 0, 0, 0.1)), drop-shadow(0 4px 6px -1px rgba(0, 0, 0, 0.08)), drop-shadow(0 8px 12px -1px rgba(0, 0, 0, 0.06));
  --elevation-top-3: drop-shadow(0 4px 6px -2px rgba(0, 0, 0, 0.1)), drop-shadow(0 8px 12px -2px rgba(0, 0, 0, 0.08)), drop-shadow(0 16px 24px -2px rgba(0, 0, 0, 0.06));
  --elevation-top-4: drop-shadow(0 8px 12px -3px rgba(0, 0, 0, 0.1)), drop-shadow(0 16px 24px -3px rgba(0, 0, 0, 0.08)), drop-shadow(0 32px 48px -3px rgba(0, 0, 0, 0.06));
  --elevation-top-5: drop-shadow(0 16px 24px -4px rgba(0, 0, 0, 0.1)), drop-shadow(0 32px 48px -4px rgba(0, 0, 0, 0.08)), drop-shadow(0 64px 96px -4px rgba(0, 0, 0, 0.06));
  --elevation-middle-1: drop-shadow(0 0.25px 1px rgba(0, 0, 0, 0.16)), drop-shadow(0 0.66px 2px rgba(0, 0, 0, 0.08)), drop-shadow(0 2px 4px rgba(0, 0, 0, 0.04));
  --elevation-middle-2: drop-shadow(0 0.75px 3px -1px rgba(0, 0, 0, 0.16)), drop-shadow(0 2px 6px rgba(0, 0, 0, 0.08)), drop-shadow(0 6px 12px 1px rgba(0, 0, 0, 0.04));
  --elevation-middle-3: drop-shadow(0 1.5px 6px -2px rgba(0, 0, 0, 0.16)), drop-shadow(0 4px 12px rgba(0, 0, 0, 0.08)), drop-shadow(0 12px 24px 2px rgba(0, 0, 0, 0.04));
  --elevation-middle-4: drop-shadow(0 3px 12px -3px rgba(0, 0, 0, 0.16)), drop-shadow(0 8px 24px rgba(0, 0, 0, 0.08)), drop-shadow(0 24px 48px 3px rgba(0, 0, 0, 0.04));
  --elevation-middle-5: drop-shadow(0 6px 24px -4px rgba(0, 0, 0, 0.16)), drop-shadow(0 16px 48px rgba(0, 0, 0, 0.08)), drop-shadow(0 48px 96px 4px rgba(0, 0, 0, 0.04));
  --elevation-bottom-1: drop-shadow(0 -0.66px 1px rgba(0, 0, 0, 0.1)), drop-shadow(0 -1.33px 2px rgba(0, 0, 0, 0.08)), drop-shadow(0 -2.66px 4px rgba(0, 0, 0, 0.06));
  --elevation-bottom-2: drop-shadow(0 -2px 3px -1px rgba(0, 0, 0, 0.1)), drop-shadow(0 -4px 6px -1px rgba(0, 0, 0, 0.08)), drop-shadow(0 -8px 12px -1px rgba(0, 0, 0, 0.06));
  --elevation-bottom-3: drop-shadow(0 -4px 6px -2px rgba(0, 0, 0, 0.1)), drop-shadow(0 -8px 12px -2px rgba(0, 0, 0, 0.08)), drop-shadow(0 -16px 24px -2px rgba(0, 0, 0, 0.06));
  --elevation-bottom-4: drop-shadow(0 -8px 12px -3px rgba(0, 0, 0, 0.1)), drop-shadow(0 -16px 24px -3px rgba(0, 0, 0, 0.08)), drop-shadow(0 -32px 48px -3px rgba(0, 0, 0, 0.06));
  --elevation-bottom-5: drop-shadow(0 -16px 24px -4px rgba(0, 0, 0, 0.1)), drop-shadow(0 -32px 48px -4px rgba(0, 0, 0, 0.08)), drop-shadow(0 -64px 96px -4px rgba(0, 0, 0, 0.06));
}
