@import '../../../styles/mixins.scss';

.headerWrapper {
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
}

.controlsList {
  @include list-style-reset;

  box-sizing: content-box;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 16px 16px;
  width: 276px;
}
