.wrapper {
  color: var(--color-primary-80);
  height: 20px;
  width: 150px;
}

.wrapper.with5 {
  height: 25px;
  width: 175px;
}

.wrapper.big {
  height: 120px;
  width: 700px;
}

.secondaryColor {
  color: var(--color-accent-40);
}
