@import '../../styles/mixins.scss';

.labelWrapper {
  position: relative;
}

.label {
  @include text-subtitle-2;

  display: block;
  padding-right: 12px;
}

.icon {
  fill: var(--color-attention);
  height: 8px;
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
}
