@import '../../../styles/mixins.scss';

.item {
  @include text-caption;

  align-items: center;
  color: var(--color-gray-60);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
}

.item:not(:last-child) {
  padding-right: 24px;
}

.item:not(:last-child)::after {
  background-color: var(--color-gray-30);
  border-radius: 50%;
  content: '';
  height: 4px;
  position: absolute;
  right: 10px;
  top: calc(50% - 2px);
  width: 4px;
}

.icon {
  color: var(--color-gray-60);
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 6px;
}

.text {
  white-space: nowrap;
}
