.container {
  background-color: var(--color-white-100);
  border-radius: 12px;
  box-shadow: var(--elevation-top-3);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  left: 0;
  overflow: hidden;
  place-items: center;
  position: absolute;
  top: 100%;
  transition: var(--transition-speed) var(--transition-timing);
}

.container:not(.visible) {
  opacity: 0%;
  pointer-events: none;
}

.container.horizontal {
  align-items: stretch;
  flex-direction: row;
}

.separator {
  background-color: var(--color-black-12);
  width: 1px;
}
