@import '../../../../styles/mixins.scss';

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  width: 240px;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.row {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 140px;
}

.label {
  @include text-paragraph-2;
}
