// css variables comes from the parent component
@import '../../../../styles/mixins.scss';

.iconWrapper {
  @include btn-style-reset;

  display: grid;
  flex-grow: 0;
  flex-shrink: 0;
  height: 32px;
  overflow: hidden;
  place-items: center;
  transition: var(--transition-speed) var(--transition-timing);
  width: 32px;
  color: var(--input-secondary-color);
}

.iconWrapper.clickable:not(:disabled) {
  cursor: pointer;
}

.iconWrapper.clickable:hover:not(:disabled),
.iconWrapper.clickable:focus-within:not(:disabled) {
  color: var(--input-text-color);
}
