// css variables comes from the parent component
@import '../../../../styles/mixins.scss';

.iconWrapper {
  @include btn-style-reset;

  display: grid;
  flex-grow: 0;
  flex-shrink: 0;
  height: 32px;
  overflow: hidden;
  place-items: center;
  transition: var(--transition-speed) var(--transition-timing);
  width: 32px;
}

.icon {
  stroke: var(--input-secondary-color);
}

.iconWrapper.clickable {
  cursor: pointer;
}

.iconWrapper.clickable:hover .icon,
.iconWrapper.clickable:focus-within .icon {
  stroke: var(--input-text-color);
}
