@import '../../../styles/mixins.scss';

.container {
  --input-text-color: var(--color-gray-100);
  --input-secondary-color: var(--color-gray-60);

  align-items: center;
  border: 2px solid var(--color-black-12);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
  transition: var(--transition-speed) var(--transition-timing);
  width: 100%;
}

.container.wrappable {
  flex-wrap: wrap;
}

.container.condensed {
  padding: 6px;
}

.container:hover {
  border: 2px solid var(--color-black-32);
}

.container:focus-within {
  border: 2px solid transparent;
  outline: 2px solid var(--color-gray-100);
}

.container.invalid {
  border: 2px solid var(--color-attention);
}

.container.invalid:focus-within {
  border: 2px solid transparent;
}

.container.readOnly {
  border: 2px solid var(--color-black-12);
}

.container.disabled {
  --input-text-color: var(--color-gray-60);
  --input-secondary-color: var(--color-gray-40);

  border: 2px dashed var(--color-black-12);
}

.container.disabled:focus-within,
.container.readOnly:focus-within {
  outline: none;
}

.input {
  flex-grow: 1;
  flex-shrink: 1;
}

.iconLocked {
  color: var(--color-gray-60);
  position: absolute;
  right: 7px;
  top: -8px;
}

.container.disabled .iconLocked {
  color: var(--color-gray-40);
}

.container.filled {
  background-color: var(--color-gray-10);
  border: 2px solid transparent;

  &:hover {
    background-color: var(--color-gray-20);
  }

  &.invalid {
    border: 2px solid var(--color-attention);
  }

  &.invalid:focus-within {
    border: 2px solid transparent;
  }

  &.readOnly,
  &.readOnly:hover {
    background-color: var(--color-gray-10);
    border: 2px solid transparent;
  }

  &.disabled {
    background: transparent;
    border: 2px dashed var(--color-black-12);
  }
}
