@import '../../styles/mixins.scss';

.list {
  @include list-style-reset;

  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 24px 0;
  width: min-content;
}

.item {
  display: flex;
  height: 8px;
  width: 8px;
}

.input {
  @include hide-input;
}

.label {
  background-color: var(--color-black-12);
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: var(--transition-speed) var(--transition-timing);
  width: 100%;
}

.label::before {
  content: '';
  height: calc(100% + 8px);
  left: -4px;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
}

.label:hover {
  background-color: var(--color-black-56);
}

.label.selected {
  background-color: var(--color-black-56);
  cursor: default;
}
