@import '../../../styles/mixins.scss';

.helperWrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 4px;
  min-height: 16px;
}

.text,
.counter {
  @include text-caption;

  color: var(--color-gray-60);
}

.text {
  flex-grow: 1;
  margin: 0;
}

.counter {
  flex-grow: 0;
  margin-left: 20px;
}

.invalid {
  .text,
  .counter {
    color: var(--color-attention);
  }
}
