@font-face {
  font-display: swap;
  font-family: '***REMOVED*** display';
  font-style: normal;
  font-weight: 700;
  src: url('./../resources/fonts/***REMOVED***-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  src: url('./../resources/fonts/inter-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'inter';
  font-style: normal;
  font-weight: 500;
  src: url('./../resources/fonts/inter-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'inter';
  font-style: normal;
  font-weight: 700;
  src: url('./../resources/fonts/inter-700.woff2') format('woff2');
}

:root {
  //font-family variables
  --primary-font: '***REMOVED*** display', 'Open Sans', sans-serif;
  --secondary-font: 'inter', sans-serif;
}
