@mixin font-styles($element) {
  font-size: var(--#{$element}-font-size);
  letter-spacing: var(--#{$element}-letter-spacing);
  line-height: var(--#{$element}-line-height);
}

:root {
  // hero 1 variables
  --hero-1-font-size: 108px;
  --hero-1-line-height: 108px;
  --hero-1-letter-spacing: -1.5px;
  // hero 2 variables
  --hero-2-font-size: 88px;
  --hero-2-line-height: 92px;
  --hero-2-letter-spacing: -1.5px;
  // hero 3 variables
  --hero-3-font-size: 68px;
  --hero-3-line-height: 76px;
  --hero-3-letter-spacing: -1.5px;
  // headline 1 varibles
  --headline-1-font-size: 56px;
  --headline-1-line-height: 64px;
  --headline-1-letter-spacing: -0.5px;
  // headline 2 varibles
  --headline-2-font-size: 44px;
  --headline-2-line-height: 56px;
  --headline-2-letter-spacing: -0.5px;
  // headline 3 varibles
  --headline-3-font-size: 36px;
  --headline-3-line-height: 44px;
  --headline-3-letter-spacing: 1px;
  // headline 4 varibles
  --headline-4-font-size: 28px;
  --headline-4-line-height: 36px;
  --headline-4-letter-spacing: 1px;
  // headline 5 varibles
  --headline-5-font-size: 24px;
  --headline-5-line-height: 32px;
  --headline-5-letter-spacing: 0.5px;
  // headline 6 varibles
  --headline-6-font-size: 18px;
  --headline-6-line-height: 24px;
  --headline-6-letter-spacing: 0.5px;
}

@media (max-width: 1200px) {
  :root {
    // hero 1 variables
    --hero-1-font-size: 88px;
    --hero-1-line-height: 92px;
    --hero-1-letter-spacing: -1.5px;
    // hero 2 variables
    --hero-2-font-size: 68px;
    --hero-2-line-height: 76px;
    --hero-2-letter-spacing: -1.5px;
    // hero 3 variables
    --hero-3-font-size: 56px;
    --hero-3-line-height: 64px;
    --hero-3-letter-spacing: -0.5px;
    // headline 1 varibles
    --headline-1-font-size: 44px;
    --headline-1-line-height: 56px;
    --headline-1-letter-spacing: -0.5px;
    // headline 2 varibles
    --headline-2-font-size: 36px;
    --headline-2-line-height: 44px;
    --headline-2-letter-spacing: 1px;
    // headline 3 varibles
    --headline-3-font-size: 28px;
    --headline-3-line-height: 36px;
    --headline-3-letter-spacing: 1px;
    // headline 4 varibles
    --headline-4-font-size: 24px;
    --headline-4-line-height: 32px;
    --headline-4-letter-spacing: 0.5px;
    // headline 5 varibles
    --headline-5-font-size: 18px;
    --headline-5-line-height: 24px;
    --headline-5-letter-spacing: 0.5px;
    // headline 6 variables remains the same as at higher resolution
  }
}

@media (max-width: 720px) {
  :root {
    // hero 1 variables
    --hero-1-font-size: 68px;
    --hero-1-line-height: 76px;
    --hero-1-letter-spacing: -1.5px;
    // hero 2 variables
    --hero-2-font-size: 56px;
    --hero-2-line-height: 64px;
    --hero-2-letter-spacing: -0.5px;
    // hero 3 variables
    --hero-3-font-size: 44px;
    --hero-3-line-height: 56px;
    --hero-3-letter-spacing: -0.5px;
    // headline 1 varibles
    --headline-1-font-size: 36px;
    --headline-1-line-height: 44px;
    --headline-1-letter-spacing: 1px;
    // headline 2 varibles
    --headline-2-font-size: 28px;
    --headline-2-line-height: 36px;
    --headline-2-letter-spacing: 1px;
    // headline 3 varibles
    --headline-3-font-size: 24px;
    --headline-3-line-height: 32px;
    --headline-3-letter-spacing: 0.5px;
    // headline 4 varibles
    --headline-4-font-size: 18px;
    --headline-4-line-height: 24px;
    --headline-4-letter-spacing: 0.5px;
    // headline 5-6 variables remains the same as at higher resolution
  }
}

.text-hero-1,
.text-hero-2,
.text-hero-3,
.text-headline-1,
.text-headline-2,
.text-headline-3,
.text-headline-4,
.text-headline-5,
.text-headline-6 {
  color: var(--grey-100);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
}

.text-hero-1 {
  @include font-styles(hero-1);
}

.text-hero-2 {
  @include font-styles(hero-2);
}

.text-hero-3 {
  @include font-styles(hero-3);
}

.text-headline-1 {
  @include font-styles(headline-1);
}

.text-headline-2 {
  @include font-styles(headline-2);
}

.text-headline-3 {
  @include font-styles(headline-3);
}

.text-headline-4 {
  @include font-styles(headline-4);
}

.text-headline-5 {
  @include font-styles(headline-5);
}

.text-headline-6 {
  @include font-styles(headline-6);
}
