.text-paragraph-1-normal,
.text-paragraph-1-bold,
.text-paragraph-2-normal,
.text-paragraph-2-bold,
.text-subtitle-1-normal,
.text-subtitle-1-bold,
.text-subtitle-2-normal,
.text-subtitle-2-bold,
.text-numeric-large,
.text-numeric-small,
.text-button,
.text-caption,
.text-overline {
  color: var(--grey-100);
  font-family: var(--secondary-font);
  font-style: normal;
}

.text-paragraph-1-normal,
.text-paragraph-1-bold {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 36px;
}

.text-paragraph-1-normal {
  font-weight: 400;
}

.text-paragraph-1-bold {
  font-weight: 700;
}

.text-paragraph-2-normal,
.text-paragraph-2-bold {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 32px;
}

.text-paragraph-2-normal {
  font-weight: 400;
}

.text-paragraph-2-bold {
  font-weight: 700;
}

.text-subtitle-1-normal,
.text-subtitle-1-bold {
  font-size: 20px;
  letter-spacing: 0.25px;
  line-height: 32px;
}

.text-subtitle-1-normal {
  font-weight: 400;
}

.text-subtitle-1-bold {
  font-weight: 700;
}

.text-subtitle-2-normal,
.text-subtitle-2-bold {
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
}

.text-subtitle-2-normal {
  font-weight: 400;
}

.text-subtitle-2-bold {
  font-weight: 700;
}

.text-numeric-large {
  font-feature-settings: 'tnum', 'lnum';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 24px;
}

.text-numeric-small {
  font-feature-settings: 'tnum', 'lnum';
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 16px;
  text-transform: uppercase;
}

.text-caption {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 16px;
}

.text-button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
}

.text-overline {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
}
