@import '../../styles/mixins.scss';

.wrapper {
  @include btn-style-reset;

  align-content: center;
  background-color: var(--color-gray-20);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: 110px;
  padding: 4px;
  transition: var(--transition-speed) var(--transition-timing);
}

.wrapper.clickable {
  box-shadow: var(--outline-transparent-2px);
  cursor: pointer;
}

.text {
  @include text-caption;

  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 4px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper.clickable:hover {
  background-color: var(--color-gray-30);
}

.wrapper.clickable:focus-within {
  box-shadow: var(--outline-black-100-2px);
}

.wrapper.clickable:active {
  background-color: var(--color-gray-20);
}

.icon {
  color: var(--color-gray-80);
  flex-grow: 0;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.accent {
  &.wrapper {
    background-color: var(--color-primary-20);
  }

  &.wrapper.clickable:hover {
    background-color: var(--color-primary-30);
  }

  &.wrapper.clickable:active {
    background-color: var(--color-primary-20);
  }

  .text {
    color: var(--color-primary-80);
  }

  .icon {
    color: var(--color-primary-80);
  }
}

.dark {
  &.wrapper {
    background-color: var(--color-gray-80);
  }

  &.wrapper.clickable:hover {
    background-color: var(--color-gray-100);
  }

  &.wrapper.clickable:active {
    background-color: var(--color-gray-80);
  }

  .text {
    color: var(--color-white-100);
  }

  .icon {
    color: var(--color-gray-20);
  }
}

.wrapper:disabled {
  background-color: var(--color-gray-10);
  cursor: default;

  &.clickable:hover {
    background-color: var(--color-gray-10);
  }

  .text {
    color: var(--color-gray-60);
  }

  .icon {
    color: var(--color-gray-40);
  }
}
