// css variables comes from the parent component

.box {
  border: var(--toggle-border);
  border-radius: 80px;
  box-sizing: border-box;
  height: 24px;
  position: relative;
  transition: var(--transition-speed) var(--transition-timing);
  width: 40px;
}

.shapeWrapper {
  background-color: var(--color-gray-60);
  border-radius: 50%;
  height: 16px;
  left: 2px;
  position: absolute;
  top: calc(50% - 8px);
  transition: var(--transition-speed) var(--transition-timing);
  width: 16px;
}

.shape {
  left: 3.3px;
  position: absolute;
  stroke: transparent;
  top: 4px;
  transition: var(--transition-speed) var(--transition-timing);
}

.box.checked {
  .shapeWrapper {
    background-color: var(--toggle-icon-color);
    left: 18px;
  }

  .shape {
    stroke: var(--color-primary-10);
  }
}

.box.invalid {
  .shapeWrapper {
    background-color: var(--color-attention);
  }
}

.box.disabled {
  background-color: none;

  .shapeWrapper {
    background-color: var(--color-gray-40);
  }

  .shape {
    stroke: transparent;
  }
}

.box.filled {
  background-color: var(--toggle-background-color);

  &.invalid .shapeWrapper,
  &.checked:not(.disabled) .shapeWrapper {
    background-color: var(--color-primary-10);
  }

  &.invalid .shape {
    stroke: transparent;
  }

  &.checked .shape {
    stroke: var(--toggle-background-color);
  }
}
