// css variables comes from the parent component
@import '../../../../styles/mixins.scss';

.input {
  height: 0.1px;
  left: -9999;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: -9999;
  width: 0.1px;
  z-index: -1;
}

.label {
  @include text-subtitle-2;

  align-self: middle;
  color: var(--input-secondary-color);
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label.disabled {
  cursor: default;
}

.icon {
  height: 32px;
  stroke: var(--input-secondary-color);
  width: 32px;
}
