@import '../../styles/mixins.scss';

.list {
  @include list-style-reset;

  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.item {
  flex-grow: 0;
  flex-shrink: 0;
}

.link {
  @include text-subtitle-2;

  border-radius: 8px;
  box-shadow: var(--outline-transparent-2px);
  color: var(--color-gray-60);
  padding: 6px 12px;
  text-decoration: none;
  transition: var(--transition-speed) var(--transition-timing);
}

.icon {
  color: var(--color-gray-60);
}

.link.home {
  display: grid;
  height: 36px;
  padding: 0;
  place-items: center;
  width: 36px;
}

.link.current {
  cursor: default;
}

.link:hover:not(.current) {
  background-color: var(--color-black-12);
}

.link:focus-within:not(.current) {
  box-shadow: var(--outline-black-100-2px);
  outline: none;
}

.separator {
  background-clip: content-box;
  background-color: var(--color-gray-60);
  border-radius: 50%;
  height: 4px;
  padding: 16px;
  width: 4px;
}
