@import '../../styles/mixins.scss';

.tooltip {
  border-radius: var(--border-radius);
  position: absolute;
  transition: var(--transition-speed) var(--transition-timing);
}

.tooltip.small {
  --border-radius: 6px;

  @include text-caption;

  padding: 4px 8px;
}

.tooltip.large {
  --border-radius: 8px;

  @include text-subtitle-2;

  padding: 6px 12px;
}

.tooltip.light {
  background-color: var(--color-white-100);
  color: var(--color-gray-100);
}

.tooltip.dark {
  background-color: var(--color-gray-80);
  color: var(--color-white-100);
}

.tooltip:not(.visible) {
  opacity: 0%;
  pointer-events: none;
}

.tooltip::before {
  background-color: inherit;
  box-shadow: inherit;
  content: '';
  height: var(--arrow-height);
  position: absolute;
  width: var(--arrow-width);
}

.tooltip.small.top.start,
.tooltip.small.top.center,
.tooltip.small.top.end,
.tooltip.small.bottom.start,
.tooltip.small.bottom.center,
.tooltip.small.bottom.end {
  --arrow-width: 8px;
  --arrow-height: 4px;
}

.tooltip.small.right.start,
.tooltip.small.right.center,
.tooltip.small.right.end,
.tooltip.small.left.start,
.tooltip.small.left.center,
.tooltip.small.left.end {
  --arrow-width: 4px;
  --arrow-height: 8px;
}

.tooltip.large.top.start,
.tooltip.large.top.center,
.tooltip.large.top.end,
.tooltip.large.bottom.start,
.tooltip.large.bottom.center,
.tooltip.large.bottom.end {
  --arrow-width: 12px;
  --arrow-height: 6px;
}

.tooltip.large.right.start,
.tooltip.large.right.center,
.tooltip.large.right.end,
.tooltip.large.left.start,
.tooltip.large.left.center,
.tooltip.large.left.end {
  --arrow-width: 6px;
  --arrow-height: 12px;
}

.tooltip.top.start {
  bottom: calc(100% + var(--arrow-height));
  box-shadow: var(--elevation-top-3);
  left: 0;
}

.tooltip.top.start::before {
  clip-path: polygon(0 100%, 0 0, 100% 0);
  height: calc(var(--arrow-height) + 1px);
  left: var(--border-radius);
  top: calc(100% - 1px);
}

.tooltip.top.center {
  bottom: calc(100% + var(--arrow-height));
  box-shadow: var(--elevation-top-3);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.top.center::before {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  height: calc(var(--arrow-height) + 1px);
  left: 50%;
  top: calc(100% - 1px);
  transform: translateX(-50%);
}

.tooltip.top.end {
  bottom: calc(100% + var(--arrow-height));
  box-shadow: var(--elevation-top-3);
  right: 0;
}

.tooltip.top.end::before {
  clip-path: polygon(100% 100%, 0 0, 100% 0);
  height: calc(var(--arrow-height) + 1px);
  right: var(--border-radius);
  top: calc(100% - 1px);
}

.tooltip.bottom.start {
  box-shadow: var(--elevation-bottom-3);
  left: 0;
  top: calc(100% + var(--arrow-height));
}

.tooltip.bottom.start::before {
  bottom: calc(100% - 1px);
  clip-path: polygon(100% 100%, 0 100%, 0 0);
  height: calc(var(--arrow-height) + 1px);
  left: var(--border-radius);
}

.tooltip.bottom.center {
  box-shadow: var(--elevation-bottom-3);
  left: 50%;
  top: calc(100% + var(--arrow-height));
  transform: translateX(-50%);
}

.tooltip.bottom.center::before {
  bottom: calc(100% - 1px);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  height: calc(var(--arrow-height) + 1px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.bottom.end {
  box-shadow: var(--elevation-bottom-3);
  right: 0;
  top: calc(100% + var(--arrow-height));
}

.tooltip.bottom.end::before {
  bottom: calc(100% - 1px);
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
  height: calc(var(--arrow-height) + 1px);
  right: var(--border-radius);
}

.tooltip.right.start {
  box-shadow: var(--elevation-middle-3);
  left: calc(100% + var(--arrow-width));
  top: 0;
}

.tooltip.right.start::before {
  bottom: calc(100% - var(--arrow-height) - var(--border-radius));
  clip-path: polygon(100% 100%, 0 0, 100% 0);
  right: calc(100% - 1px);
  width: calc(var(--arrow-width) + 1px);
}

.tooltip.right.center {
  box-shadow: var(--elevation-middle-3);
  left: calc(100% + var(--arrow-width));
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.right.center::before {
  bottom: calc(50% - (var(--arrow-height) / 2));
  clip-path: polygon(100% 100%, 0 50%, 100% 0);
  right: calc(100% - 1px);
  width: calc(var(--arrow-width) + 1px);
}

.tooltip.right.end {
  bottom: 0;
  box-shadow: var(--elevation-middle-3);
  left: calc(100% + var(--arrow-width));
}

.tooltip.right.end::before {
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
  right: calc(100% - 1px);
  top: calc(100% - var(--arrow-height) - var(--border-radius));
  width: calc(var(--arrow-width) + 1px);
}

.tooltip.left.start {
  box-shadow: var(--elevation-middle-3);
  right: calc(100% + var(--arrow-width));
  top: 0;
}

.tooltip.left.start::before {
  bottom: calc(100% - var(--arrow-height) - var(--border-radius));
  clip-path: polygon(0 0, 0 100%, 100% 0);
  left: calc(100% - 1px);
  width: calc(var(--arrow-width) + 1px);
}

.tooltip.left.center {
  box-shadow: var(--elevation-middle-3);
  right: calc(100% + var(--arrow-width));
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.left.center::before {
  bottom: calc(50% - (var(--arrow-height) / 2));
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  left: calc(100% - 1px);
  width: calc(var(--arrow-width) + 1px);
}

.tooltip.left.end {
  bottom: 0;
  box-shadow: var(--elevation-middle-3);
  right: calc(100% + var(--arrow-width));
}

.tooltip.left.end::before {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  left: calc(100% - 1px);
  top: calc(100% - var(--arrow-height) - var(--border-radius));
  width: calc(var(--arrow-width) + 1px);
}
