@import '../../styles/mixins.scss';

.label {
  --toggle-border: 2px solid var(--color-black-12);
  --toggle-background-color: none;
  --toggle-icon-color: transparent;

  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 100%;
  padding: 12px;
}

.input {
  @include hide-input;
}

.text {
  @include text-subtitle-2;

  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  font-weight: 400;
  padding-left: 16px;
  position: relative;
}

.icon {
  height: 8px;
  position: absolute;
  right: -12px;
  top: 0;
  width: 8px;
}

.label:hover {
  --toggle-border: 2px solid var(--color-black-32);
}

.label:focus-within {
  --toggle-border: 2px solid var(--color-gray-100);
}

.label.checked {
  --toggle-border: 2px solid var(--color-primary-80);
  --toggle-icon-color: var(--color-primary-80);
}

.label.checked:hover {
  --toggle-border: 2px solid var(--color-primary-70);
  --toggle-icon-color: var(--color-primary-70);
}

.label.checked:focus-within {
  --toggle-border: 2px solid var(--color-gray-100);
  --toggle-icon-color: var(--color-primary-80);
}

.label.invalid,
.label.invalid:hover {
  --toggle-border: 2px solid var(--color-attention);
}

.label.invalid:focus-within {
  --toggle-border: 2px solid var(--color-gray-100);
}

.label.invalid.checked {
  --toggle-icon-color: var(--color-attention);
}

.label.disabled {
  --toggle-background-color: transparent;
  --toggle-border: 2px dashed var(--color-black-12);

  cursor: default;
}

.label.disabled.checked {
  --toggle-background-color: transparent;
  --toggle-border: 2px dashed var(--color-black-12);
  --toggle-icon-color: var(--color-gray-40);
}

.label.disabled .text {
  color: var(--color-gray-60);
}

.filled {
  &.label {
    --toggle-background-color: var(--color-gray-20);
    --toggle-border: 2px solid transparent;
    --toggle-icon-color: transparent;
  }

  &.label:hover {
    --toggle-background-color: var(--color-gray-30);
  }

  &.label:focus-within {
    --toggle-background-color: var(--color-gray-20);
    --toggle-border: 2px solid var(--color-gray-100);
  }

  &.label.checked {
    --toggle-background-color: var(--color-primary-80);
    --toggle-icon-color: var(--color-primary-10);
  }

  &.label.checked:hover {
    --toggle-border: 2px solid transparent;
    --toggle-icon-color: var(--color-primary-10);
    --toggle-background-color: var(--color-primary-70);
  }

  &.label.checked:focus-within {
    --toggle-border: 2px solid var(--color-gray-100);
    --toggle-icon-color: var(--color-primary-10);
    --toggle-background-color: var(--color-primary-80);
  }

  &.label.invalid,
  &.label.invalid:hover, {
    --toggle-background-color: var(--color-attention);
    --toggle-border: 2px solid transparent;
  }

  &.label.invalid:focus-within {
    --toggle-border: 2px solid var(--color-gray-100);
  }

  &.label.invalid.checked,
  &.label.invalid.checked:hover,
  &.label.invalid.checked:focus-within {
    --toggle-icon-color: var(--color-white-100);
    --toggle-background-color: var(--color-attention);
  }

  &.label.disabled,
  &.label.disabled:hover,
  &.label.disabled:focus-within {
    --toggle-background-color: transparent;
    --toggle-border: 2px dashed var(--color-black-12);
  }

  &.label.disabled.checked,
  &.label.disabled.checked:hover,
  &.label.disabled.checked:focus-within {
    --toggle-icon-color: var(--color-gray-40);
  }
}
