.wrapper {
  --toggle-border: 2px solid var(--color-black-12);
  --toggle-background-color: none;
  --toggle-icon-color: transparent;

  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.input {
  appearance: none;
  outline: none;
}

.label {
  cursor: pointer;
  font-weight: 400;
  padding-left: 16px;
  position: relative;
}

.labelDisabled {
  cursor: default;
}

.label::before {
  content: '';
  height: 24px;
  left: -24px;
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
}

.labelOfSwitch::before {
  left: -40px;
  width: 40px;
}

.wrapper:hover {
  --toggle-border: 2px solid var(--color-black-32);
}

.wrapper:focus-within {
  --toggle-border: 2px solid var(--color-gray-100);
}

.wrapper.checked {
  --toggle-border: 2px solid var(--color-primary-80);
  --toggle-icon-color: var(--color-primary-80);
}

.wrapper.checked:hover {
  --toggle-border: 2px solid var(--color-primary-70);
  --toggle-icon-color: var(--color-primary-70);
}

.wrapper.checked:focus-within {
  --toggle-border: 2px solid var(--color-gray-100);
  --toggle-icon-color: var(--color-primary-80);
}

.wrapper.invalid,
.wrapper.invalid:hover {
  --toggle-border: 2px solid var(--color-attention);
}

.wrapper.invalid:focus-within {
  --toggle-border: 2px solid var(--color-gray-100);
}

.wrapper.invalid.checked {
  --toggle-icon-color: var(--color-attention);
}

.wrapper.disabled {
  --toggle-background-color: transparent;
  --toggle-border: 2px dashed var(--color-black-12);
}

.wrapper.disabled.checked {
  --toggle-background-color: transparent;
  --toggle-border: 2px dashed var(--color-black-12);
  --toggle-icon-color: var(--color-gray-40);
}

.wrapper.disabled .label {
  color: var(--color-gray-60);
}

.filled {
  &.wrapper {
    --toggle-background-color: var(--color-gray-20);
    --toggle-border: 2px solid transparent;
    --toggle-icon-color: transparent;
  }

  &.wrapper:hover {
    --toggle-background-color: var(--color-gray-30);
  }

  &.wrapper:focus-within {
    --toggle-background-color: var(--color-gray-20);
    --toggle-border: 2px solid var(--color-gray-100);
  }

  &.wrapper.checked {
    --toggle-background-color: var(--color-primary-80);
    --toggle-icon-color: var(--color-primary-10);
  }

  &.wrapper.checked:hover {
    --toggle-border: 2px solid transparent;
    --toggle-icon-color: var(--color-primary-10);
    --toggle-background-color: var(--color-primary-70);
  }

  &.wrapper.checked:focus-within {
    --toggle-border: 2px solid var(--color-gray-100);
    --toggle-icon-color: var(--color-primary-10);
    --toggle-background-color: var(--color-primary-80);
  }

  &.wrapper.invalid,
  &.wrapper.invalid:hover, {
    --toggle-background-color: var(--color-attention);
    --toggle-border: 2px solid transparent;
  }

  &.wrapper.invalid:focus-within {
    --toggle-border: 2px solid var(--color-gray-100);
  }

  &.wrapper.invalid.checked,
  &.wrapper.invalid.checked:hover,
  &.wrapper.invalid.checked:focus-within {
    --toggle-icon-color: var(--color-white-100);
    --toggle-background-color: var(--color-attention);
  }

  &.wrapper.disabled,
  &.wrapper.disabled:hover,
  &.wrapper.disabled:focus-within {
    --toggle-background-color: transparent;
    --toggle-border: 2px dashed var(--color-black-12);
  }

  &.wrapper.disabled.checked,
  &.wrapper.disabled.checked:hover,
  &.wrapper.disabled.checked:focus-within {
    --toggle-icon-color: var(--color-gray-40);
  }
}
