// css variables comes from the parent component
@import '../../../../styles/mixins.scss';

.input {
  @include input-style-reset;
  @include text-subtitle-2;

  box-sizing: border-box;
  color: var(--input-text-color);
  margin: 4px;
  min-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input::placeholder {
  color: var(--input-secondary-color);
}
