@import '../../styles/mixins.scss';

.list {
  @include text-subtitle-2;

  margin: 0;
}

.list.condensed {
  @include text-caption;
}

.title {
  color: var(--color-gray-60);
}

.description {
  color: var(--color-gray-100);
  margin: 0;
}

.descriptionItemWrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 12px 0;
}

.list.condensed .descriptionItemWrapper {
  padding: 8px 0;
}

.list:not(.vertical) .titleWrapper,
.list:not(.vertical) .description {
  width: 50%;
}

.list:not(.vertical) .titleWrapper {
  align-items: flex-end;
  display: flex;
  justify-content: baseline;
}

.list:not(.vertical) .title {
  flex-grow: 0;
  flex-shrink: 0;
}

.list:not(.vertical) .titleWrapper::after {
  border-bottom: 1px dashed var(--color-black-12);
  bottom: 0;
  content: '';
  flex-grow: 1;
  flex-shrink: 1;
  height: 1px;
  right: 0;
  width: 100%;
}

.list.vertical .descriptionItemWrapper {
  border-bottom: 1px dashed var(--color-black-12);
  flex-direction: column;
}
