@import '../../styles/mixins.scss';

.wrapper {
  align-items: center;
  background-color: var(--color-gray-10);
  border-radius: 8px;
  box-shadow: var(--outline-transparent-2px);
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  justify-content: center;
  min-width: 292px;
  padding: 16px;
  transition: var(--transition-speed) var(--transition-timing);
}

.wrapper.drag {
  background-color: var(--color-gray-20);
}

.wrapper.drag * {
  pointer-events: none;
}

.wrapper:focus-within {
  box-shadow: var(--outline-black-100-2px);
}

.inputContainer {
  display: grid;
  grid-template-areas: 'label' 'caption';
}

.dragNote {
  display: none;
}

.input {
  height: 0.1px;
  left: -9999px;
  opacity: 0%;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  width: 0.1px;
  z-index: -1;
}

.label {
  @include text-link;

  grid-area: label;
}

.caption {
  @include text-caption;

  color: var(--color-gray-60);
  grid-area: caption;
  margin: 8px 0 6px;
}

@include media-size(tablet) {
  .inputContainer {
    display: grid;
    grid-template-areas: 'note label' 'caption caption';
  }

  .wrapper {
    gap: 24px;
    min-width: 640px;
    padding: 24px;
  }

  .dragNote {
    @include text-subtitle-1;

    display: inline-block;
    grid-area: note;
    margin-right: 4px;
  }

  .label {
    @include text-subtitle-1;

    color: var(--color-link);
  }
}
